/*----------- RESET -----------*/
*{
  margin: 0;
  padding: 0;
}

/*-------- NAVBAR --------*/
nav{
  background-color: orange;
}

/*-------- HOME/INDED --------*/

.backGroundImg {
  position: fixed;
  z-index: -1;
  max-width: 100%;
  width: 100%;
  max-height: 100%;
  height: 100%;
  opacity: 0.6;
}

.logoLarge {
  position: absolute;
  margin-left: -50px;
  min-width: 20%;
  max-width: 100%;
  max-height: 100%;
  min-height: 20%;
  opacity: 0.6;
  float: left;
  z-index: -1; 
}

/*-------- FOOTER --------*/
footer{
  clear: both;
  position: fixed;
  display: block;
  bottom: 0;
  width:100%; 
  max-height: 80px;
  height: auto;

}

#footerDetails, #WadeSitesFooter{
  color: #f3f3f3;
  display: block;
  width: 50%;
  margin: auto;
  font-size: 10px;
  text-align: center;
}
#footerDetails{
padding: 15px;
}

/*----------- HOME -----------*/
.homeBackgroundImg{
  float: left;
  position: fixed;
  max-width: 100%;
  height: auto;
  z-index: -1;
}

.homeSlides{
  display: none;
}


/*----------- ABOUT -----------*/
#aboutPageBackground{
  background-image: url("images/DJG-Fresh-Logo.png"), url("images/aboutBackground.JPG");
  background-size: 50%, cover;
  background-repeat: no-repeat, no-repeat;
  background-position: left, center;
  background-position-y: center, center;
  background-attachment: fixed, fixed;
  
}

#bio {
  text-indent: 50px;
  width: 50%;
  margin: auto;
  background-color: #f3f3f3;
}

p{
  margin: 20px;
  text-align: justify;
  color: black;
}

#aboutImg{
  float: right;
  margin: 20px;
  min-height: 130px;
  min-width: 150px;
}

/*----------- SERVICES -----------*/
#servicesPageBackground{
  background-image: url("images/DJG-Fresh-Logo.png"), url("images/servicesBackground.JPG");
  background-size: 50%, cover;
  background-repeat: no-repeat, no-repeat;
  background-position: left, center;
  background-position-y: center, center;
  background-attachment: fixed, fixed;
}

.card-group {
 height: 100%;
 width: 100%;
 margin: auto;
}

.mainContainer{
  margin:auto;
  width: 70%;
  top: 0; 
}

.card {
  margin: 30px 30px;
}

/*----------- MIXES -----------*/
#mixesBackground::after{
  opacity: 0.6;
}

#mixesPageBackground{
  background-image: url("images/DJG-Fresh-Logo.png"), url("images/mixesBackground3.JPG");
  background-size: 50%, cover;
  background-repeat: no-repeat, no-repeat;
  background-position: left, center;
  background-position-y: center, center;
  background-attachment: fixed, fixed;
}

#mixesContainer{
  display: block;
  margin-top: 50%;
  margin: auto;
  width: 60%;
  padding-top: 20%;
}

.flip-card {
  float: left;
  width: 300px;
  height: 300px;
  perspective: 16000px;
  margin: 20px 20px;
  display: block;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 88px 0 rgba(0,0,0,1);
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.card-img{
  width:300px;
  height:300px;
}

.flip-card-front {
  z-index: 2;
}

.flip-card-back {
  transform: rotateY(180deg);
  z-index: 1;
}

/*----------- CONTACT -----------*/
#contactPageBackground{
  background-image: url("images/DJG-Fresh-Logo.png"), url("images/contactBackground.JPG");
  background-size: 50%, cover;
  background-repeat: no-repeat, no-repeat;
  background-position: left, center;
  background-position-y: center, center;
  background-attachment: fixed, fixed;
}
form{
width: 50%;
margin: auto;
}


