
#wrapper{
  min-height: 100%;
}

/*-------- NAVBAR --------*/
.nav .justify-content-end {
 margin-right: 20px;
}
.nav{
  z-index: 1;
  position: fixed;
  width: 100%;
  top: 0;
  max-height: 50px;
  z-index: 1;

  box-shadow: 0 0 32px rgba(0,0,0,0.6);
  background:rgba(0,0,0,0.9);
  z-index: 1;
  color: rgba(130, 130, 130, 0.5);
}

li{
  list-style: none;
}



/*-------- HOME SLIDESHOW --------*/

.cb-slideshow,
.cb-slideshow:after { 
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    z-index: 0; 
}
.cb-slideshow:after { 
    content: '';
    background-image: url(images/DJG-Fresh-Logo.png); 
    background-repeat: no-repeat;
    background-size: 50%;
}

.cb-slideshow li:nth-child(1) span { 
  background-image: url(images/homeBackground.JPG);
}
.cb-slideshow li:nth-child(2) span { 
  background-image: url(images/HPMQ\ flipped.jpg);
  animation-delay: 6s; 
}
.cb-slideshow li:nth-child(3) span { 
  background-image: url(images/eventRed.jpg);
  animation-delay: 12s; 
}
.cb-slideshow li:nth-child(4) span { 
  background-image: url(images/mixesBackground2.JPG);
  animation-delay: 18s; 
}
.cb-slideshow li:nth-child(5) span { 
  background-image: url(images/300.jpg);
  animation-delay: 24s; 
}

.cb-slideshow li:nth-child(6) span { 
  background-image: url(images/Album_events/HPMV.JPG);
  animation-delay: 30s;
}

.cb-slideshow li span { 
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  color: transparent;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: none;
  opacity: 0;
  z-index: 0;
  animation: imageAnimation 36s linear infinite 0s; 
}

@keyframes imageAnimation { 
  0% { opacity: 0; animation-timing-function: ease-in; }
  8% { opacity: 1; animation-timing-function: ease-out; }
  17% { opacity: 1 }
  25% { opacity: 0 }
  100% { opacity: 0 }
}

.no-cssanimations .cb-slideshow li span{
	opacity: 1;
}

/*-------- FOOTER --------*/
footer{
  clear: both;
  position: fixed;
  display: block;
  bottom: 0;
  width:100%; 
  max-height: 80px;
  height: auto;
  z-index: 1;

}

#footerDetails, #WadeSitesFooter{
  color: #f3f3f3;
  display: block;
  width: 50%;
  margin: auto;
  font-size: 10px;
  text-align: center;
}
#footerDetails{
padding: 15px;
}


/*----------- ABOUT -----------*/
#aboutPageBackground{
  background-image: url("images/DJG-Fresh-Logo.png"), url("images/aboutBackground.JPG");
  background-size: 50%, cover;
  background-repeat: no-repeat, no-repeat;
  background-position: left, center;
  background-position-y: center, center;
  background-attachment: fixed, fixed;
  
}

#bio {
  text-indent: 50px;
  width: 50%;
  margin: auto;
  margin-top: 5%;
  margin-bottom: 5%;
  padding-top: 5px;
  padding-bottom: 50px;

  border-radius: 8px;
  box-shadow: 0 0 32px rgba(0,0,0,0.6);
  background:rgba(0,0,0,0.4);
  z-index: 1;
  color: rgba(130, 130, 130, 0.5);
}

#bio p{
  margin: 20px;
  text-align: justify;
  color:#fff;
}

#aboutImg{
  float: right;
  margin: 20px;
  min-height: 130px;
  min-width: 180px;
}

/*----------- SERVICES -----------*/
#servicesPageBackground{
  background-image: url("images/DJG-Fresh-Logo.png"), url("images/servicesBackground.JPG");
  background-size: 50%, cover;
  background-repeat: no-repeat, no-repeat;
  background-position: left, center;
  background-position-y: center, center;
  background-attachment: fixed, fixed;
}

.cardsContainer {
  margin: auto;
  margin-bottom: 10%;
  width: 50%;
  border: solid 4px orange;
}

.card{
  width: 30em;
  height: 30em;
  float: right;
  box-shadow: 0 0 32px rgba(0,0,0,0.6);
  z-index: 0;
  margin: 20px;
 
}


/*----------- MIXES -----------*/

#mixesPageBackground{
  background-image: url("images/DJG-Fresh-Logo.png"), url("images/mixesBackground3.JPG");
  background-size: 50%, cover;
  background-repeat: no-repeat, no-repeat;
  background-position: left, center;
  background-position-y: center, center;
  background-attachment: fixed, fixed;
}

.mainContainer{
  position: absolute;
  margin-top: 5%;
  left: 30%;
  margin-left: -50px;
  margin-bottom: 10%;
  width: 50%;
}

.flip-card {
  float: left;
  width: 300px;
  height: 300px;
  perspective: 16000px;
  margin: 20px 20px;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 88px 0 rgba(0,0,0,1);
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.card-img{
  width:300px;
  height:300px;
}

.flip-card-front {
  z-index: 2;
}

.flip-card-back {
  transform: rotateY(180deg);
  z-index: 1;
}

/*----------- TESTIMONIALS -----------*/

#testimonialsPageBackground{
  background-image: url("images/DJG-Fresh-Logo.png"), url("images/testimonialsBackground.JPG");
  background-size: 50%, cover;
  background-repeat: no-repeat, no-repeat;
  background-position: left, center;
  background-position-y: center, center;
  background-attachment: fixed, fixed;
}
.list-group{
  position: absolute;
  margin-top: 5%;
  left: 25%;
  margin-left: -50px;
  margin-bottom: 10%;
  width: 50%;
}

.mb-1{
  color: #000;
  font-style: italic
}

/*----------- CONTACT -----------*/
#contactPageBackground{
  background-image: url("images/DJG-Fresh-Logo.png"), url("images/contactBackground.JPG");
  background-size: 50%, cover;
  background-repeat: no-repeat, no-repeat;
  background-position: left, center;
  background-position-y: center, center;
  background-attachment: fixed, fixed;  
}

#blurredformBackground{
  border: solid 1px transparent;
  width: 50%;
  margin: auto;
  margin-top: 5%;
  margin-bottom: 5%;
  border-radius: 8px;
  box-shadow: 0 0 32px rgba(0,0,0,0.6);
  background:rgba(0,0,0,0.4);
  z-index: 1;
  color: rgba(130, 130, 130, 0.5);

}

form{
  margin-top: 5%;
  margin-bottom: 5%; 
}
 
.form-group, .row {
  margin: 20px;
}

label{
  color: #f3f3f3;
  font-weight: bold;
}

.btn{
 background-color:blue;
 color:#fff; 
 width: 200px;
 float: right;
 margin: 20, 20;

}