.navbar{
width: 100%;
height: 95px;
background-color: #000;
position: sticky;
}

#container{
  float: left;
}

#logoSmall{
  margin-left: 20px;
  margin-top: 4px;
}

ul{
  display: inline-block;
  list-style-type: none;
  float: right;
  margin-top: 35px;
}

li {
  display: inline;
  padding: 20px;
  
  font-size: 20px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  text-decoration: none;
}

a:link{
  text-decoration: none;
}

a:visited{
  text-decoration: none;
  color: #f3f3f3;
}

a:hover{
  color: steelblue;
  text-decoration: underline;
}

a:active{
  color: steelblue;
  text-decoration: underline;
  
}

.backGroundImg {
  position: absolute;
  z-index: -1;
  height: auto;
  opacity: 0.3;
}
.logoAndImage{
float: left;
}

.homeBackgroundImg{
  float: left;
  position: absolute;
  max-width: 100%;
  height: auto;
  z-index: -1;
  float: left;
}

.logoLarge {
  opacity: 0.6;
  float: left;
}

footer{
  display: block;
  clear: both;
  background-color: #000;
  width:100%; 
}

#footerDetails, #WadeSitesFooter{
  color: #f3f3f3;
  display: block;
  width: 50%;
  margin: auto;
  font-size: 12px;
}
